<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SBManchaMacro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <SBManchaMacro.Properties.Settings>
            <setting name="dBasicWait" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="chkTopMust" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sWindowNmae" serializeAs="String">
                <value>shadowbane</value>
            </setting>
            <setting name="bLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nSekectMacro" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bTaskTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MyLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </SBManchaMacro.Properties.Settings>
    </userSettings>
</configuration>